Multi-Agent Daily Digest - JattaAI.json
{
  "name": "Multi-Agent Daily Digest - JattaAI",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 14
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        96,
        880
      ],
      "id": "938d0bb0-d677-4e52-8dc7-0967002bcddc",
      "name": "Daily 2 PM Trigger"
    },
    {
      "parameters": {
        "jsCode": "// Orchestrator: Central config + routing decisions.\n// Routing logic lives here — no separate Route IF nodes.\n// All downstream nodes reference config via $('Orchestrator').first().json.config\n\nreturn [{\n  json: {\n    config: {\n      // Source enables — controls which agents run\n      gmailEnabled: true,\n      calendarEnabled: true,\n      slackEnabled: true,\n\n      // Source settings\n      gmailLimit: 10,\n      slackQuery: 'in:#your-channel after:2d',\n      calendarEmail: '<__PLACEHOLDER_VALUE__Your Google Calendar email address (e.g., you@gmail.com)__>',\n      outputChannelId: 'YOUR_OUTPUT_CHANNEL_ID',\n\n      // Temporal context\n      dateLabel: $now.toFormat('EEEE, MMMM d, yyyy'),\n      runTimestamp: new Date().toISOString(),\n\n      // User profile — injected into all agent prompts\n      userProfile: {\n        name: 'Your Name',\n        role: 'Product Manager',\n        team: 'Your Team',\n        vipContacts: ['CONFIGURE: add your VIP contacts here'],\n        focusAreas: ['roadmap', 'prioritization', 'stakeholder alignment', 'sprint planning']\n      }\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        880
      ],
      "id": "3ae76e9c-bad6-460a-a84d-e82f923f65ea",
      "name": "Orchestrator"
    },
    {
      "parameters": {
        "jsCode": "// Guardrails: Validate context before agents run.\n// Checks for required config values and enforces content policies.\n// In production: also checks rate limits, token budgets, content safety rules.\n\nconst config = $('Orchestrator').first().json.config;\n\nconst warnings = [];\nif (!config.outputChannelId || config.outputChannelId === 'YOUR_OUTPUT_CHANNEL_ID') {\n  warnings.push('Output channel not configured — update outputChannelId in Orchestrator');\n}\nif (!config.userProfile?.name || config.userProfile.name === 'Your Name') {\n  warnings.push('User profile not configured — using defaults');\n}\nif (!config.gmailEnabled && !config.slackEnabled && !config.calendarEnabled) {\n  warnings.push('All sources disabled — digest will be empty');\n}\n\nif (warnings.length > 0) {\n  console.log('Guardrail warnings:', warnings);\n}\n\nreturn [{ json: { ...($input.first().json), guardrailWarnings: warnings } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        880
      ],
      "id": "f705703a-eef7-43ce-9ae7-977e670bb807",
      "name": "Guardrails"
    },
    {
      "parameters": {
        "jsCode": "// State Management: Load and track state across workflow runs.\n// History context comes from Format History node (Google Sheets -> formatted summary).\n\nconst config = $('Guardrails').first().json.config;\nconst previousDigestSummary = $input.first().json.previousDigestSummary;\n\nreturn [{\n  json: {\n    config,\n    previousDigestSummary,\n    sessionId: `digest-${Date.now()}`\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        880
      ],
      "id": "2b9f81b5-d1db-401f-a728-a2b44345ca8e",
      "name": "State Management"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "search",
        "query": "={{ $('Orchestrator').first().json.config.slackQuery }}",
        "options": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1216,
        480
      ],
      "id": "6b6a732b-3bdd-4002-8dec-ee03e1b708e4",
      "name": "Search Slack Channels",
      "webhookId": "57d2bb4d-436f-4ca3-9266-7d56ce31b50c",
      "alwaysOutputData": true,
      "credentials": {
        "slackOAuth2Api": {
          "id": "v5jQH8RB9CKbPVDZ",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10f12378-b48b-42d2-8aa7-fb3861a4bef1",
              "name": "=emails_text",
              "value": "={{   $items(\"Fetch Gmail Emails\").map(m =>     `From: ${m.json.from || \"\"} Subject: ${m.json.subject || \"\"} Snippet: ${m.json.snippet || \"\"}`   ).join(\"\\n---\\n\") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1216,
        880
      ],
      "id": "592bbfe6-65a6-4945-9e74-b514909f386c",
      "name": "Prepare Gmail Data"
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 10,
        "filters": {
          "q": "newer_than:2d  -category:promotions  -category:social  -category:forums  -category:updates  -subject:(verify verification code security alert)  (subject:(approval OR decision OR review OR timeline OR deadline OR roadmap OR prioritization)   OR   \"action required\"   OR \"need your\"   OR \"can you review\"   OR \"please confirm\")"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        992,
        880
      ],
      "id": "ed2e0b35-d940-492e-a73c-e12a3ea6ffd5",
      "name": "Fetch Gmail Emails",
      "webhookId": "8875f5ca-5887-412b-b212-20df098d7850",
      "alwaysOutputData": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "Nr594KytrXc5tqb1",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "primary",
          "mode": "list"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1504,
        1168
      ],
      "id": "5f43f8a1-e9a3-4718-89f3-92bd567721d9",
      "name": "Fetch Calendar Events",
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "clJe2Tx8v0E37h4v",
          "name": "Google Calendar OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User context: {{ $('Orchestrator').first().json.config.userProfile.name }}, {{ $('Orchestrator').first().json.config.userProfile.role }} at {{ $('Orchestrator').first().json.config.userProfile.team }}.\nVIP contacts: {{ $('Orchestrator').first().json.config.userProfile.vipContacts.join(', ') }}.\nFocus areas: {{ $('Orchestrator').first().json.config.userProfile.focusAreas.join(', ') }}.\n\nToday is {{ $now.toFormat('EEEE, MMMM d, yyyy') }}.\n\nSlack message:\n{{ $json.text || 'No message content.' }}\n\n🔗 Original thread:\nhttps://YOUR_WORKSPACE.slack.com/archives/{{ $json.channel || 'unknown' }}/p{{ ($json.ts || '').replace('.', '') }}",
        "options": {
          "systemMessage": "You are a blunt, high-signal PM copilot.\nYou sound like Co-Star: direct, concise, slightly sharp.\nNo corporate fluff. No over-explaining.\nYou surface what matters and ignore the rest.\n\nYour task is to turn messages into a crisp PM digest.\n\nONLY extract:\n• Decisions needed\n• Deadlines\n• Blockers\n• Required actions\n\nIf a VIP contact is involved, flag the item with [VIP].\n\nSTYLE RULES:\n• Short sentences\n• Bullet points\n• No paragraphs\n• No assumptions or long reasoning\n• No filler words\n• If something is unclear, say it plainly\n• If there is nothing actionable, say \"No action items found.\"\n\nOUTPUT FORMAT:\n\n⚡ Decisions\n- …\n\n⏰ Deadlines\n- …\n\n🚧 Blockers\n- …\n\n👉 Action\n- …"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1440,
        368
      ],
      "id": "7e512ed6-5b50-4a94-9a03-e2ee44384b16",
      "name": "Slack Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User context: {{ $('Orchestrator').first().json.config.userProfile.name }}, {{ $('Orchestrator').first().json.config.userProfile.role }} at {{ $('Orchestrator').first().json.config.userProfile.team }}.\nVIP contacts: {{ $('Orchestrator').first().json.config.userProfile.vipContacts.join(', ') }}.\nFocus areas: {{ $('Orchestrator').first().json.config.userProfile.focusAreas.join(', ') }}.\n\nToday is {{ $now.toFormat('EEEE, MMMM d, yyyy') }}.\n\nEmails to triage:\n{{ $json.emails_text }}",
        "options": {
          "systemMessage": "You are a PM email triage assistant.\n\nYour task is to analyze emails and produce a short daily digest.\n\nOnly include:\n• ⚡ Decisions needed\n• ✅ Approvals\n• ⏰ Deadlines\n• 🚧 Risks\n• 🧱 Blockers\n• 👥 Important stakeholder requests\n\nIf a VIP contact is involved, flag the item with [VIP].\nKeep it concise and structured. If there is nothing actionable, say \"No action items found.\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1440,
        768
      ],
      "id": "51ff4dc1-a173-4918-9cc8-58b55ad2fd09",
      "name": "Gmail Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User context: {{ $('Orchestrator').first().json.config.userProfile.name }}, {{ $('Orchestrator').first().json.config.userProfile.role }} at {{ $('Orchestrator').first().json.config.userProfile.team }}.\n\nToday is {{ $now.toFormat('EEEE, MMMM d, yyyy') }}.\n\nCalendar event:\nSummary: {{ $json.summary || 'No summary' }}\nStart: {{ $json.start && $json.start.dateTime ? $json.start.dateTime : ($json.start && $json.start.date ? $json.start.date : 'TBD') }}\nEnd: {{ $json.end && $json.end.dateTime ? $json.end.dateTime : ($json.end && $json.end.date ? $json.end.date : 'TBD') }}",
        "options": {
          "systemMessage": "🗓️ You are a smart calendar assistant.\n\nAnalyze the provided calendar event and generate a clear, concise summary.\n\n✨ Focus on:\n📌 What this meeting is about\n⏰ When it is and how long\n⚠️ Any conflicts or prep needed\n✅ Action items or prep required\n\n🧭 Style guidelines:\n• Keep it brief\n• Make it actionable\n• If there is nothing notable, say \"No action needed for this event.\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1792,
        1168
      ],
      "id": "0c0af57f-7af9-443d-9b4b-ec388f1d3eab",
      "name": "Calendar Agent"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        1856,
        672
      ],
      "id": "a5c32fc0-edb1-4d91-b88a-941ee7ac593b",
      "name": "Merge Gmail + Slack"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        2144,
        816
      ],
      "id": "4533d568-7062-47db-a96b-ffee5be50f10",
      "name": "Merge All Agents"
    },
    {
      "parameters": {
        "jsCode": "// Aggregate Agent Outputs: Combine all 3 agent digests into one item\n// so the Synthesizer receives a single, structured input.\n// Items in order after merge: [0] Gmail Agent, [1] Slack Agent, [2+] Calendar Agent\n\nconst items = $input.all();\n\nconst email_digest = (items[0]?.json?.output || '').trim() || 'No email data available.';\nconst slack_digest = (items[1]?.json?.output || '').trim() || 'No Slack data available.';\n\nconst calItems = items.slice(2);\nconst gcal_digest = calItems.length > 0\n  ? calItems.map(i => (i?.json?.output || '').trim()).filter(s => s.length > 0).join('\\n---\\n')\n  : 'No calendar data available.';\n\nreturn [{ json: { email_digest, slack_digest, gcal_digest } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2368,
        816
      ],
      "id": "c3e98ac0-8b74-4bd8-885d-6f809db4d075",
      "name": "Aggregate Agent Outputs"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Synthesizing for: {{ $('Orchestrator').first().json.config.userProfile.name }}, {{ $('Orchestrator').first().json.config.userProfile.role }} at {{ $('Orchestrator').first().json.config.userProfile.team }}.\nVIP contacts: {{ $('Orchestrator').first().json.config.userProfile.vipContacts.join(', ') }}.\nFocus areas: {{ $('Orchestrator').first().json.config.userProfile.focusAreas.join(', ') }}.\n\nToday is {{ $now.toFormat('EEEE, MMMM d, yyyy') }}.\n\nPREVIOUS RUN CONTEXT (for [New] vs [Recurring] tagging):\n{{ $('State Management').first().json.previousDigestSummary }}\n\n---\n\nEMAIL_DIGEST:\n{{ $json.email_digest }}\n\nCALENDAR_DIGEST:\n{{ $json.gcal_digest }}\n\nSLACK_DIGEST:\n{{ $json.slack_digest }}",
        "options": {
          "systemMessage": "You are a PM Digest Synthesizer.\n\nYou receive 3 digests from different sources (Email, Calendar, Slack) plus context from the previous run.\nProduce ONE unified daily digest.\n\nRules:\n- Deduplicate similar items across sources\n- Normalize wording\n- Sort by urgency (today > this week > later)\n- Keep it short and action-oriented\n- Preserve source attribution: [Email], [Calendar], [Slack]\n- Compare with previous context: tag recurring items [Recurring], new items [New]\n- Elevate any item involving a VIP contact with [VIP]\n- If a source has no data, skip it gracefully\n\nOutput format (exact):\n🔥 Top Priorities (max 3)\n- ...\n\n✅ Decisions / Approvals\n- ...\n\n⏰ Deadlines\n- ...\n\n🚧 Risks / Blockers\n- ...\n\n👥 Who to ping today\n- ..."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        2816,
        816
      ],
      "id": "f7b1e3bb-23e0-4884-bdd1-98828690315e",
      "name": "Synthesizer Agent"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "#daily-2pm-digest",
          "mode": "name"
        },
        "text": "={{ $json.output }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        3216,
        816
      ],
      "id": "9b49429c-e491-442d-bc9d-75162da14f51",
      "name": "Send Digest to Slack",
      "webhookId": "e8a14826-0a13-426f-ba0a-38fa0406abbc",
      "credentials": {
        "slackOAuth2Api": {
          "id": "v5jQH8RB9CKbPVDZ",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        1520,
        592
      ],
      "id": "36fd6ad6-f087-4050-96aa-29fb4ff82d27",
      "name": "GPT-4o Mini for Slack Agent",
      "credentials": {
        "openAiApi": {
          "id": "ekP6Y1cksJ3ztlfQ",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        1520,
        992
      ],
      "id": "765ce195-68a0-419d-b719-22e82890c8f6",
      "name": "GPT-4o Mini for Gmail Agent",
      "credentials": {
        "openAiApi": {
          "id": "ekP6Y1cksJ3ztlfQ",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        1872,
        1392
      ],
      "id": "0fdbd183-bcce-448c-94ee-5e7868301bd4",
      "name": "GPT-4o Mini for Calendar Agent",
      "credentials": {
        "openAiApi": {
          "id": "ekP6Y1cksJ3ztlfQ",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        2880,
        1040
      ],
      "id": "93e30e75-3c13-4b7e-ab61-8678bebc04cd",
      "name": "GPT-4o for Synthesizer",
      "credentials": {
        "openAiApi": {
          "id": "ekP6Y1cksJ3ztlfQ",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        96,
        144
      ],
      "id": "5178e1b4-f0c4-4472-959e-c1aa3db0df89",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "#project-errors",
          "mode": "name"
        },
        "text": "=⚠️ *2 PM Digest Failed*\n\nError: {{ $json.execution.error.message }}\nFailed node: {{ $json.execution.error.node.name }}\nTimestamp: {{ $now.toLocaleString() }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        320,
        144
      ],
      "id": "99ea6072-5b10-459a-8b66-6eb602680954",
      "name": "Notify Error via Slack",
      "webhookId": "a8b14826-0a13-426f-ba0a-38fa0406abc0",
      "credentials": {
        "slackOAuth2Api": {
          "id": "v5jQH8RB9CKbPVDZ",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "content": "⏰ **Trigger**\n\nFires daily at 2 PM.\n\nNo manual inputs needed — all config lives in the Orchestrator node.",
        "height": 180,
        "width": 280,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        656
      ],
      "id": "1b3b20c2-b950-4d9a-815c-b2ce82beff67",
      "name": "Sticky Note Trigger"
    },
    {
      "parameters": {
        "content": "🧭 **Orchestrator → Guardrails → State Management**\n\n**Orchestrator**: Single config node — edit once to control all agents. Source routing is decided here (no IF nodes).\n\n**Guardrails**: Validates config before any agent runs. Catches missing channels, unconfigured profiles, disabled sources.\n\n**State Management**: Loads previous run context for [New] vs [Recurring] tagging. In production, swap the placeholder for a real DB / Sheets read.",
        "height": 280,
        "width": 640,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        256,
        592
      ],
      "id": "f213b7a6-f48b-4c13-a960-85e19c50f75f",
      "name": "Sticky Note Orchestrator"
    },
    {
      "parameters": {
        "content": "🤖 **Specialized Agents**\n\nThree agents run in parallel, each focused on one source:\n• **Slack Agent** — extracts decisions, blockers, actions\n• **Gmail Agent** — triages high-signal emails\n• **Calendar Agent** — summarizes events and prep needed\n\nAll use GPT-4o Mini (fast, low cost).\nAll read user profile from Orchestrator.",
        "height": 300,
        "width": 460,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        848,
        256
      ],
      "id": "d9c9da18-b415-43f8-ae8b-08570689c99e",
      "name": "Sticky Note Agents"
    },
    {
      "parameters": {
        "content": "🧠 **Synthesis**\n\n**Aggregate Agent Outputs**: Merges all 3 agent digests into one item — email, Slack, calendar — for the Synthesizer.\n\n**Synthesizer Agent** (GPT-4o):\n• Deduplicates across sources\n• Sorts by urgency (today → this week → later)\n• Tags [New] vs [Recurring] using State Management\n• Elevates [VIP] contacts\n\nMemory tools connected:\n• Pinecone PM Knowledge Base (RAG)\n• Daphne Assistant (Pinecone managed RAG)\n\n⚠️ Configure: Pinecone credentials required.",
        "height": 320,
        "width": 440,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1680,
        512
      ],
      "id": "0388fca0-a3f8-409b-acd0-597f689f39e7",
      "name": "Sticky Note Synthesis"
    },
    {
      "parameters": {
        "content": "📤 **Output**\n\nFinal digest posted to Slack.\n\n⚙️ Set outputChannelId in Orchestrator.",
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2144,
        672
      ],
      "id": "6223679b-b58d-424c-8a86-91755d75a719",
      "name": "Sticky Note Output"
    },
    {
      "parameters": {
        "content": "🗄️ **Queue** *(Supporting Infrastructure)*\n\nIn production: a job queue (Redis, SQS, etc.) ensures ordered execution, prevents duplicate runs, and handles backpressure when sources are slow.\n\nHere: simulated by the schedule trigger.",
        "height": 220,
        "width": 280,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        560,
        1552
      ],
      "id": "9df5734c-7072-487d-a7b0-ec0779056e99",
      "name": "Sticky Note Queue"
    },
    {
      "parameters": {
        "content": "🔒 **Isolation** *(Supporting Infrastructure)*\n\nIn production: each agent runs in an isolated execution context (separate containers or sandboxes) to prevent data leakage between agents and limit the blast radius of any single failure.\n\nHere: n8n's node isolation handles basic separation.",
        "height": 220,
        "width": 280,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        864,
        1552
      ],
      "id": "922805bb-f457-4fef-bc01-d75aebba1431",
      "name": "Sticky Note Isolation"
    },
    {
      "parameters": {
        "content": "🧠 **Memory / Context** *(Supporting Infrastructure)*\n\nDigest history stored in **Google Sheets**:\n• **Read Digest History** — reads last 7 rows before synthesis\n  → feeds `previousDigestSummary` into State Management → Synthesizer\n• **Save Digest to Sheet** — appends today's digest after posting to Slack\n\n⚙️ Configure: set your Google Sheet ID in both nodes (column headers: `Date`, `Digest`).",
        "height": 336,
        "width": 480,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2896,
        1200
      ],
      "id": "44b4d09d-2e17-47ee-b89c-fa2c94a0b766",
      "name": "Sticky Note Memory"
    },
    {
      "parameters": {
        "content": "⚠️ **Error Handling**\n\nError Trigger → Notify Error via Slack\n\nFires on any execution failure and posts to your issues channel with the failed node name, error message, and timestamp.",
        "height": 180,
        "width": 360
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "dbc03432-6e26-4262-91e3-72e3128733a1",
      "name": "Sticky Note Error"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1UgAKd-GjU00QdF_sj-MAzIqEZIYXqFKzzM5S09ncXUY",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Digest History",
          "mode": "name"
        },
        "options": {}
      },
      "id": "e001fa74-3d84-4288-a355-5ed8c46c1579",
      "name": "Read Digest History",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        656,
        1120
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nd46oAhKWDLfFJZA",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1UgAKd-GjU00QdF_sj-MAzIqEZIYXqFKzzM5S09ncXUY",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Digest History",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $now.toFormat('yyyy-MM-dd') }}",
            "Digest": "={{ $('Synthesizer Agent').first().json.output }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Digest",
              "displayName": "Digest",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "944541d6-12a3-440b-ad1d-6a267dc56e17",
      "name": "Save Digest to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        3440,
        816
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nd46oAhKWDLfFJZA",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Format History: Collapses Sheets rows into a single summary string.\n// Always outputs exactly 1 item so State Management runs even when the sheet is empty.\n\nconst rows = $input.all();\n\nconst prevDigests = rows\n  .filter(r => r.json['Date'] && r.json['Digest'])\n  .slice(-7)\n  .map(r => `[${r.json['Date']}] ${r.json['Digest']}`)\n  .join('\\n\\n---\\n\\n');\n\nreturn [{\n  json: {\n    previousDigestSummary: prevDigests || 'No previous digests available — all items will be tagged [New].'\n  }\n}];"
      },
      "id": "1f6eff6f-2969-4610-ad84-893d2f8f0c7a",
      "name": "Format History",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        1248
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Daily 2 PM Trigger": {
      "main": [
        [
          {
            "node": "Orchestrator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Orchestrator": {
      "main": [
        [
          {
            "node": "Guardrails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardrails": {
      "main": [
        [
          {
            "node": "Read Digest History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "State Management": {
      "main": [
        [
          {
            "node": "Search Slack Channels",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Gmail Emails",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Calendar Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Slack Channels": {
      "main": [
        [
          {
            "node": "Slack Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Gmail Emails": {
      "main": [
        [
          {
            "node": "Prepare Gmail Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Gmail Data": {
      "main": [
        [
          {
            "node": "Gmail Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Calendar Events": {
      "main": [
        [
          {
            "node": "Calendar Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Agent": {
      "main": [
        [
          {
            "node": "Merge Gmail + Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Agent": {
      "main": [
        [
          {
            "node": "Merge Gmail + Slack",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Gmail + Slack": {
      "main": [
        [
          {
            "node": "Merge All Agents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calendar Agent": {
      "main": [
        [
          {
            "node": "Merge All Agents",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge All Agents": {
      "main": [
        [
          {
            "node": "Aggregate Agent Outputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Agent Outputs": {
      "main": [
        [
          {
            "node": "Synthesizer Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Synthesizer Agent": {
      "main": [
        [
          {
            "node": "Send Digest to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4o Mini for Slack Agent": {
      "ai_languageModel": [
        [
          {
            "node": "Slack Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4o Mini for Gmail Agent": {
      "ai_languageModel": [
        [
          {
            "node": "Gmail Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4o Mini for Calendar Agent": {
      "ai_languageModel": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4o for Synthesizer": {
      "ai_languageModel": [
        [
          {
            "node": "Synthesizer Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Notify Error via Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Digest History": {
      "main": [
        [
          {
            "node": "Format History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Digest to Slack": {
      "main": [
        [
          {
            "node": "Save Digest to Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format History": {
      "main": [
        [
          {
            "node": "State Management",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "b329b951-701c-4364-9071-ee3ed3494b9f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "eb89bb36fc86953e8d7498fd59643ee731dcd6635418a86a5b6f42ffc5d4e0b9"
  },
  "nodeGroups": [],
  "id": "XdiaBf8gQzfliU6W",
  "tags": []
}